.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2em;
}

.about > div {
  max-width: 40%;
  line-height: 1.7em;
}

.about > img {
  border-radius: 50%;
  border: 2px solid #8ecca9;
  max-height: 400px;
}
